#ignore generated trace data folder and trace files
traces/
*.vvp
*.lxt
*.vcd
a.out


#ignore IDE files
#.vscode/
.DS_Store
#*.code-workspace

#ignore binary rom files
*.mem
875b??.*
875b??_???.hex
PROM_H14

